extends layout

block content
  h1= title
  - var date = new Date(record.date);
  - var arr = record.dispel;
  p 查卡时间：#{date.toLocaleString()}
  p Message: #{msg}
  table
    tr
      th 昵称
      th 贡献值
      th 组龄
      th 打卡率
      th #{date.getFullYear()}-#{date.getMonth()+1}-#{date.getDate()-1}
      th #{date.getFullYear()}-#{date.getMonth()+1}-#{date.getDate()}
    each val in arr
      tr
        td
          img(src='#{val.avatar}')
          a(href='#{val.link}') #{val.name}
        td= val.points
        td= val.days
        td= val.rate
        if(val.check0 === '已打卡')
          td.yes= val.check0
        else
          td= val.check0
        if(val.check1 === '已打卡')
          td.yes= val.check1
        else
          td= val.check1